/* Coolors Exported Palette - https://coolors.co/2c262c-403a4b-544e6a-6b818c-e9f1f7-eee5e9-5dd39e-f93943-fcd757-ff4365 */
/* Diversos */
$raisin_black: #2c262cff;
$dark_liver: #403a4bff;
$independence: #544e6aff;
$slate_gray: #6b818cff;
$alice_blue: #e9f1f7ff;
$lavender_blush: #eee5e9ff;
$medium_aquamarine: #5dd39eff;
$red_salsa: #f93943ff;
$mustard: #fcd757ff;
$radical_red: #ff4365ff;


/* Amarelos */
$mustard: #fcd757ff;
$metallic_sunburst: #9e8951ff;
$camel: #a89361ff;
$naples_yellow: #fcdb66ff;
$medium_champagne: #f3e4a7ff;