$primary: #544e6aff;
$dark-primary: #403a4bff;
$black-primary: #2c262cff;
$light-primary: #C5CAE9;
$light-2-primary: #e9f1f7ff;
$text: #FFFFFF;
$primary-text: #212121;
$secondary-text: #757575;
$slate-gray: #6b818cff;
$lavender-blush: #eee5e9ff;
$accent: #fcd757ff;
$accent-2: #ff4365ff;
$accent-2-dark: #f93943ff;
$accent-3: #5dd39eff;
$accent-4: #b4e1ff;
$accent-5: #AF469A;
$accent-6: #5f7fff;
$accent-7: #FFA560;

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Patrick+Hand&family=Prompt:wght@400;600&family=Sarabun&family=Taviraj:wght@500&display=swap');

section.timeline {
  padding: 3rem 0;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 400;
  background-color: $light-2-primary;
  overflow-y: hidden;
}

h1 {
  font-size: 200%;
  letter-spacing: 2px;
  font-weight: 400;
}

header {
	color: $text;
	vertical-align: middle;
	height: 15rem;
	
	.container{
		z-index: 1;
		position: fixed;
		background: $primary;
		max-width: 100% !important;
		padding: 0.6em;
		font-size: 1.5rem;
		box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);
	}

	.profile-name{
		position: relative;
		letter-spacing: 2px;
		font-size: 2.2em;
		font-family: 'Taviraj', serif;

	}

	.born-date {
		font-family: 'Cabin', sans-serif;
		color: rgba(255, 255, 255, .2);
		position: relative;
		font-size: 2.3em;
	}

	img{
		border: 0.3em solid $dark-primary;
		box-shadow: inset 0px 0px 0px 10px $dark-primary;
	}

	.header-title{
		text-align: left;
	}

	.date-title{
		text-align: right;
	}

	.expand-icon {
		text-align: right;
	}
}

.middle{
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.timeline {
	position: relative;
	&::before {
		content: '';
		background: $light-primary;
		width: 5px;
		height: 95%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
}

.timeline-item {
	width: 100%;
	margin-bottom: 70px;

	opacity: 1;
	max-height: 40rem;
	transition: max-height 1s ease-out, opacity 2s linear;

	&:nth-child(even) {

		.timeline-content {
			float: right;
			padding: 40px 30px 10px 30px;

			.date {
				right: auto;
				left: 0;
			}

			&::after {
				content: '';
				position: absolute;
				border-style: solid;
				width: 0;
				height: 0;
				top: 30px;
				left: -15px;
				border-width: 10px 15px 10px 0;
				border-color: transparent $light-primary transparent transparent;
			}
		}
	}

	&::after {
		content: '';
		display: block;
		clear: both;
	}
}


.timeline-content {
	position: relative;
	width: 45%;
	padding: 10px 30px;
	border-radius: 4px;
	background: #f5f5f5;
	box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);

	&::after {
		content: '';
		position: absolute;
		border-style: solid;
		width: 0;
		height: 0;
		top: 30px;
		right: -15px;
		border-width: 10px 0 10px 15px;
		border-color: transparent transparent transparent $light-primary;
	}

	p{
		text-align: justify;
	}

	.card-text{
		max-height: 0px;
		overflow: hidden;
		margin: 0;
		padding: 0;
		opacity: 0;
		transition: max-height .3s ease-out;
	}

	.expand-icon{
		font-size: 2.5rem;
		position: absolute;
		bottom: 15px;
		right: 25px;
		transition: transform .3s ease-out;
	}
	.expand{
		cursor: pointer;
	}

	&.expanded{
		.timeline-img-container{
			max-height: 30rem;
			transition: max-height .6s ease-in;
		}

		.card-text{
			max-height: 20rem;
			overflow: hidden;
			margin: 0;
			padding: 20px;
			opacity: 1;
			transition: max-height .6s ease-in, opacity .6s ease-in;
		}

		.expand-icon{
			transform: rotate(-180deg);
			transition: transform .3s ease-in;
		}
	}

}

.personal {
	.timeline-content, .header-title{
		border-bottom: 5px solid $accent-2;
	}
	.date{
		background-color: $accent-2;
	}
}
.studies {
	.timeline-content, .header-title{
		border-bottom: 5px solid $accent-3;
	}
	.date{
		background-color: $accent-3;
	}
}
.sports {
	.timeline-content, .header-title{
		border-bottom: 5px solid $accent-4;
	}
	.date{
		background-color: $accent-4;
	}
}
.professional {
	.timeline-content, .header-title{
		border-bottom: 5px solid $accent-5;
	}
	.date{
		background-color: $accent-5;
	}
}
.meme {
	.timeline-content, .header-title{
		border-bottom: 5px solid $accent-6;
	}
	.date{
		background-color: $accent-6;
	}
}
.family {
	.timeline-content, .header-title{
		border-bottom: 5px solid $accent-7;
	}
	.date{
		background-color: $accent-7;
	}
}


.timeline-img {
	width: 30px;
	height: 30px;
	background: $primary;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-top: 25px;
	margin-left: -15px;
}

a {
	background: $primary;
	color: $text;
	padding: 8px 20px;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 20px;
	margin-top: 10px;
	display: inline-block;
	border-radius: 2px;
	box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .6);
	text-decoration: none;

	&:hover, &:active, &:focus {
		background: $dark-primary;
		color: $text;
		text-decoration: none;
	}

}

.timeline-card {
	padding: 0 !important;
	a {
		margin-left: 20px;
	}
}

.timeline-item {
  .timeline-img-header {
			background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4)), url('https://picsum.photos/1000/800/?random') center center no-repeat;
			background-size: cover;
		}
}

.timeline-img-header {
	height: 200px;
	position: relative;
	margin-bottom: 20px;

	h2 {
		color: $text;
		position: absolute;
		bottom: 5px;
		left: 20px;
	}
}


.timeline-img-container {
	position: relative;
	text-align: center;
	color: white;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, .4));
	background-size: cover;
	display: inline-block;
	max-height: 15rem;
	overflow: hidden;
	transition: max-height .3s ease-out;
	margin-bottom: -7px;

	&::before{
		content: '';
		position: absolute;
		left:0; top:0;
		width:100%; height:100%;
		display: inline-block;
		background: linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0, .4) 100%);
	  }

	img {
		width: 100%;
		display: block;
	}

	.header-title{
		position: absolute;
		bottom: 8px;
		left: 16px;
	}
	
}

blockquote {
	margin-top: 30px;
	color: $secondary-text;
	border-left: 5px solid $primary;
	padding: 0 20px;
}

.date {
	background: $accent;
	display: inline-block;
	color: $text;
	padding: 0.5rem;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 20px;
}

@media screen and (max-width: 768px) {

	.timeline {

		&::before {
			left: 50px;
		}

		.timeline-img {
			left: 50px;
		}

		.timeline-content {
			max-width: 100%;
			width: auto;
			margin-left: 70px;
		}

		.timeline-item {

			&:nth-child(even) {

				.timeline-content {
					float: none;
				}
			}

			&:nth-child(odd) {

				.timeline-content {
					
					&::after {
						content: '';
						position: absolute;
						border-style: solid;
						width: 0;
						height: 0;
						top: 30px;
						left: -15px;
						border-width: 10px 15px 10px 0;
						border-color: transparent $light-primary transparent transparent;
					}
				}

			}
		}
	}
	
}

// ***************** MENU **********************
// this -- well, because this.
* {
	box-sizing:border-box;
}

// this makes a basic circle
@mixin circle($param) {
	width:$param;
	height:$param;
	border-radius:50%;
}

// Brand Colour Palette
$purple:#462882;
$green:#1ef0a0;
$blue:#4644fd;
$red:#ff3c4b;

// this is what I use to place the menu thing wherever I want
.menu-container {
	position: fixed;
	bottom:1em;
	right:1em;
	z-index: 1;
}

// this toggles the whole damn thing
.menu-toggle {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: $accent;
	box-shadow:4px 4px 2px 1px rgba(#000, 0.2);
	
	position: absolute;
	z-index:5;
	bottom:0;
	right:0;
	display:table;
	
	text-align: center;
	
	.fa {
		color:#fff;
		font-size:2em;
		display:table-cell;
		vertical-align:middle;
		transition:0.4s;
	}
	
	// Twist the plus so it looks like a close 'x'
	&.open .fa {
		width: 60px;
		height: 60px;
		border-radius: 50%;
	}

	&:hover{
		cursor: pointer;
	}
}

// Single Template buttons
.btn-app {
	position:absolute;
	color:#fff;
	text-align: center;
	border-radius: 50%;
	opacity: 0;
	
	.fa {
		line-height:2.5em;
	}

	&:hover{
		cursor: pointer;
	}
}

.btn-app.btn-circle{
	@include circle(2.5em);
	background-color: $primary;
}

// add shadow only when templates are activated
.btn-shadow {
	box-shadow:4px 4px 2px 1px rgba(#000, 0.2);
}

// The most-popular apps in a circular thingo
.menu-round {
	position: absolute;
	bottom:0;
	right:0;
	z-index:3;
	
	.btn-app {
		bottom:0.35em;
		right:0.25em;
		transition:0.2s;
	}
	
	// position of templates when activated
	&.open {
		.btn-app:nth-of-type(1){
			right:0.5em;
			bottom:4.25em;
		}
		.btn-app:nth-of-type(2){
			right:3.5em;
			bottom:3.5em;
			transition-delay:0.1s;
		}
		.btn-app:nth-of-type(3){
			right:4.25em;
			bottom:0.5em;
			transition-delay:0.2s;
		}
	}	

}
// stacked template icons
.menu-line {
	position: absolute;
	z-index:2;
	
	.btn-app {
		bottom:0.35em;
		right:0.25em;
		transition:0.2s;
	}
	
	&.open {
		// first one. add 3 to each subsequent template
		$bottom:4.25em;
		$templates:7;
		
		.btn-app:nth-of-type(1) {
			bottom:$bottom;
		}
		
		// align each template item on top of the next
		@for $i from 1 through $templates {
			.btn-app:nth-of-type(#{$i}) {
				bottom:$bottom + 3 * $i;
			}
		}
	}	
}

.category-filter{
	display: none;

	&:checked +.category-text{
		display: inline !important;
	}
}

.btn-app{
	.category-text{
		display: none;
	}
}

.visible {
	opacity: 1;
}

.hidden {
	transition: max-height 1s ease-in, opacity 1s ease-out;
	opacity: 0;
	max-height: 0px;
	margin: 0;
	overflow: hidden;
}








  
  .ftco-no-pt {
	padding-top: 0; }
  
  .ftco-no-pb {
	padding-bottom: 0; }
  
  .img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center; }
  
  .ul.ks-cboxtags {
	list-style: none;
}
	.ul.ks-cboxtags .li {
	  display: inline; }
	  .ul.ks-cboxtags .li label {
		display: inline-block;
		background-color: rgb(255, 255, 255);
		border: 1px solid rgba(139, 139, 139, 0.3);
		color: #adadad;
		border-radius: 25px;
		white-space: nowrap;
		margin: 3px 0px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-tap-highlight-color: transparent;
		-webkit-transition: all .4s;
		-o-transition: all .4s;
		transition: all .4s;
		font-weight: 400; }
  
  .ul.ks-cboxtags .li label {
	padding: 8px 12px;
	cursor: pointer; }
	.ul.ks-cboxtags .li label::after {
	  display: inline-block;
	  font-style: normal;
	  font-variant: normal;
	  text-rendering: auto;
	  -webkit-font-smoothing: antialiased;
	  font-family: "FontAwesome";
	  font-weight: 400;
	  font-size: 12px;
	  padding: 2px 6px 2px 2px;
	  content: "\f067";
	  -webkit-transition: -webkit-transform .3s ease-in-out;
	  transition: -webkit-transform .3s ease-in-out;
	  -o-transition: transform .3s ease-in-out;
	  transition: transform .3s ease-in-out;
	  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; }
  
  .ul.ks-cboxtags .li input[type="checkbox"]:checked + label::after {
	content: "\f00c";
	-webkit-transform: rotate(-360deg);
	-ms-transform: rotate(-360deg);
	transform: rotate(-360deg);
	-webkit-transition: -webkit-transform .3s ease-in-out;
	transition: -webkit-transform .3s ease-in-out;
	-o-transition: transform .3s ease-in-out;
	transition: transform .3s ease-in-out;
	transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; }
  
  .ul.ks-cboxtags .li input[type="checkbox"]:checked + label {
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s; }
  
  .ul.ks-cboxtags .li input[type="checkbox"] {
	display: absolute; }
  
  .ul.ks-cboxtags .li input[type="checkbox"] {
	position: absolute;
	opacity: 0; }
  
	

.ul.btn-cat1 .li input[type="checkbox"]:checked + label::after {
	color: $accent-7;
}
.ul.btn-cat1 .li input[type="checkbox"] + label:hover{
	background-color: $accent-7;
	color: #ffffff;
}
.ul.btn-cat2 .li input[type="checkbox"]:checked + label::after {
	color: $accent-2;
} 
.ul.btn-cat2 .li input[type="checkbox"] + label:hover{
	background-color: $accent-2;
	color: #ffffff;
}
.ul.btn-cat3 .li input[type="checkbox"]:checked + label::after {
	color: $accent-3;
}
.ul.btn-cat3 .li input[type="checkbox"] + label:hover{
	background-color: $accent-3;
	color: #ffffff;
}
.ul.btn-cat4 .li input[type="checkbox"]:checked + label::after {
	color: $accent-4;
}
.ul.btn-cat4 .li input[type="checkbox"] + label:hover{
	background-color: $accent-4;
	color: #ffffff;
}
.ul.btn-cat5 .li input[type="checkbox"]:checked + label::after {
	color: $accent-5;
}
.ul.btn-cat5 .li input[type="checkbox"] + label:hover{
	background-color: $accent-5;
	color: #ffffff;
}
.ul.btn-cat6 .li input[type="checkbox"]:checked + label::after {
	color: $accent-6;
}
.ul.btn-cat6 .li input[type="checkbox"] + label:hover{
	background-color: $accent-6;
	color: #ffffff;
}

.ul.btn-cat1 .li input[type="checkbox"] + label:hover::after{
	color: #ffffff;
}
.ul.btn-cat2 .li input[type="checkbox"] + label:hover::after{
	color: #ffffff;
}
.ul.btn-cat3 .li input[type="checkbox"] + label:hover::after{
	color: #ffffff;
}
.ul.btn-cat4 .li input[type="checkbox"] + label:hover::after{
	color: #ffffff;
}
.ul.btn-cat5 .li input[type="checkbox"] + label:hover::after{
	color: #ffffff;
}
.ul.btn-cat6 .li input[type="checkbox"] + label:hover::after{
	color: #ffffff;
}

.ul.btn-cat7 .li input[type="checkbox"]:checked + label {
	text-decoration: underline;
	text-decoration-color: $accent-7;
	text-decoration-thickness: 0.18em;
	text-decoration-skip-ink: none;
}