section.timeline {
  padding: 3rem 0;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto';
  font-size: 1rem;
  font-weight: 400;
  background-color: #e9f1f7ff;
}

h1 {
  font-size: 200%;
  letter-spacing: 2px;
  font-weight: 400;
}

header {
  color: #FFFFFF;
  vertical-align: middle;
  height: 15rem;
}

header .container {
  z-index: 1;
  position: fixed;
  background: #544e6aff;
  max-width: 100% !important;
  padding: 0.6em;
  font-size: 1.5rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}

header .profile-name {
  position: relative;
  letter-spacing: 2px;
  font-size: 2.3em;
}

header .born-date {
  font-family: 'Allura';
  color: rgba(255, 255, 255, 0.2);
  position: relative;
  font-size: 2.3em;
}

header img {
  border: 0.3em solid #403a4bff;
  -webkit-box-shadow: inset 0px 0px 0px 10px #403a4bff;
          box-shadow: inset 0px 0px 0px 10px #403a4bff;
}

header .header-title {
  text-align: left;
}

header .date-title {
  text-align: right;
}

.middle {
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.timeline {
  position: relative;
}

.timeline::before {
  content: '';
  background: #C5CAE9;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
  opacity: 1;
  max-height: 40rem;
  -webkit-transition: max-height 1s ease-out, opacity 2s linear;
  transition: max-height 1s ease-out, opacity 2s linear;
}

.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}

.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}

.timeline-item:nth-child(even) .timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #C5CAE9 transparent transparent;
}

.timeline-item::after {
  content: '';
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  -webkit-box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}

.timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #C5CAE9;
}

.timeline-content p {
  text-align: justify;
}

.personal .timeline-content, .personal .header-title {
  border-bottom: 5px solid #ff4365ff;
}

.studies .timeline-content, .studies .header-title {
  border-bottom: 5px solid #5dd39eff;
}

.sports .timeline-content, .sports .header-title {
  border-bottom: 5px solid #b4e1ff;
}

.professional .timeline-content, .professional .header-title {
  border-bottom: 5px solid #AF469A;
}

.meme .timeline-content, .meme .header-title {
  border-bottom: 5px solid #5f7fff;
}

.family .timeline-content, .family .header-title {
  border-bottom: 5px solid #FFA560;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #544e6aff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

a {
  background: #544e6aff;
  color: #FFFFFF;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
          box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

a:hover, a:active, a:focus {
  background: #403a4bff;
  color: #FFFFFF;
  text-decoration: none;
}

.timeline-card {
  padding: 0 0 1em 0 !important;
}

.timeline-card p {
  padding: 0 20px;
}

.timeline-card a {
  margin-left: 20px;
}

.timeline-item .timeline-img-header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4))), url("https://picsum.photos/1000/800/?random") center center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://picsum.photos/1000/800/?random") center center no-repeat;
  background-size: cover;
}

.timeline-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}

.timeline-img-header h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

.timeline-img-container {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  background-size: cover;
  display: inline-block;
}

.timeline-img-container::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.4)));
  background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
}

.timeline-img-container img {
  width: 100%;
  display: block;
}

.timeline-img-container .header-title {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

blockquote {
  margin-top: 30px;
  color: #757575;
  border-left: 5px solid #544e6aff;
  padding: 0 20px;
}

.date {
  background: #fcd757ff;
  display: inline-block;
  color: #FFFFFF;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #C5CAE9 transparent transparent;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu-container {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 1;
}

.menu-toggle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fcd757ff;
  -webkit-box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
  display: table;
  text-align: center;
}

.menu-toggle .fa {
  color: #fff;
  font-size: 2em;
  display: table-cell;
  vertical-align: middle;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu-toggle.open .fa {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.menu-toggle:hover {
  cursor: pointer;
}

.btn-app {
  position: absolute;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  opacity: 0;
}

.btn-app .fa {
  line-height: 2.5em;
}

.btn-app:hover {
  cursor: pointer;
}

.btn-app.btn-circle {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: #544e6aff;
}

.btn-shadow {
  -webkit-box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
}

.menu-round {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.menu-round .btn-app {
  bottom: 0.35em;
  right: 0.25em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu-round.open .btn-app:nth-of-type(1) {
  right: 0.5em;
  bottom: 4.25em;
}

.menu-round.open .btn-app:nth-of-type(2) {
  right: 3.5em;
  bottom: 3.5em;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.menu-round.open .btn-app:nth-of-type(3) {
  right: 4.25em;
  bottom: 0.5em;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.menu-line {
  position: absolute;
  z-index: 2;
}

.menu-line .btn-app {
  bottom: 0.35em;
  right: 0.25em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu-line.open .btn-app:nth-of-type(1) {
  bottom: 4.25em;
}

.menu-line.open .btn-app:nth-of-type(1) {
  bottom: 7.25em;
}

.menu-line.open .btn-app:nth-of-type(2) {
  bottom: 10.25em;
}

.menu-line.open .btn-app:nth-of-type(3) {
  bottom: 13.25em;
}

.menu-line.open .btn-app:nth-of-type(4) {
  bottom: 16.25em;
}

.menu-line.open .btn-app:nth-of-type(5) {
  bottom: 19.25em;
}

.menu-line.open .btn-app:nth-of-type(6) {
  bottom: 22.25em;
}

.menu-line.open .btn-app:nth-of-type(7) {
  bottom: 25.25em;
}

.category-filter {
  display: none;
}

.category-filter:checked + .category-text {
  display: inline !important;
}

.btn-app .category-text {
  display: none;
}

.visible {
  opacity: 1;
}

.hidden {
  -webkit-transition: max-height 1s ease-in, opacity 1s ease-out;
  transition: max-height 1s ease-in, opacity 1s ease-out;
  opacity: 0;
  max-height: 0px;
  margin: 0;
  overflow: hidden;
}

.ftco-no-pt {
  padding-top: 0;
}

.ftco-no-pb {
  padding-bottom: 0;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.ul.ks-cboxtags {
  list-style: none;
}

.ul.ks-cboxtags .li {
  display: inline;
}

.ul.ks-cboxtags .li label {
  display: inline-block;
  background-color: white;
  border: 1px solid rgba(139, 139, 139, 0.3);
  color: #adadad;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: all .4s;
  transition: all .4s;
  font-weight: 400;
}

.ul.ks-cboxtags .li label {
  padding: 8px 12px;
  cursor: pointer;
}

.ul.ks-cboxtags .li label::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "FontAwesome";
  font-weight: 400;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "\f067";
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.ul.ks-cboxtags .li input[type="checkbox"]:checked + label::after {
  content: "\f00c";
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.ul.ks-cboxtags .li input[type="checkbox"]:checked + label {
  -webkit-transition: all .4s;
  transition: all .4s;
}

.ul.ks-cboxtags .li input[type="checkbox"] {
  display: absolute;
}

.ul.ks-cboxtags .li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.ul.btn-cat1 .li input[type="checkbox"]:checked + label::after {
  color: #FFA560;
}

.ul.btn-cat1 .li input[type="checkbox"] + label:hover {
  background-color: #FFA560;
  color: #ffffff;
}

.ul.btn-cat2 .li input[type="checkbox"]:checked + label::after {
  color: #ff4365ff;
}

.ul.btn-cat2 .li input[type="checkbox"] + label:hover {
  background-color: #ff4365ff;
  color: #ffffff;
}

.ul.btn-cat3 .li input[type="checkbox"]:checked + label::after {
  color: #5dd39eff;
}

.ul.btn-cat3 .li input[type="checkbox"] + label:hover {
  background-color: #5dd39eff;
  color: #ffffff;
}

.ul.btn-cat4 .li input[type="checkbox"]:checked + label::after {
  color: #b4e1ff;
}

.ul.btn-cat4 .li input[type="checkbox"] + label:hover {
  background-color: #b4e1ff;
  color: #ffffff;
}

.ul.btn-cat5 .li input[type="checkbox"]:checked + label::after {
  color: #AF469A;
}

.ul.btn-cat5 .li input[type="checkbox"] + label:hover {
  background-color: #AF469A;
  color: #ffffff;
}

.ul.btn-cat6 .li input[type="checkbox"]:checked + label::after {
  color: #5f7fff;
}

.ul.btn-cat6 .li input[type="checkbox"] + label:hover {
  background-color: #5f7fff;
  color: #ffffff;
}

.ul.btn-cat1 .li input[type="checkbox"] + label:hover::after {
  color: #ffffff;
}

.ul.btn-cat2 .li input[type="checkbox"] + label:hover::after {
  color: #ffffff;
}

.ul.btn-cat3 .li input[type="checkbox"] + label:hover::after {
  color: #ffffff;
}

.ul.btn-cat4 .li input[type="checkbox"] + label:hover::after {
  color: #ffffff;
}

.ul.btn-cat5 .li input[type="checkbox"] + label:hover::after {
  color: #ffffff;
}

.ul.btn-cat6 .li input[type="checkbox"] + label:hover::after {
  color: #ffffff;
}

.ul.btn-cat7 .li input[type="checkbox"]:checked + label {
  text-decoration: underline;
  -webkit-text-decoration-color: #FFA560;
          text-decoration-color: #FFA560;
  text-decoration-thickness: 0.18em;
  text-decoration-skip-ink: none;
}
/*# sourceMappingURL=style.css.map */